<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="c:\data\log.txt" />
		<target name="logDev" xsi:type="Trace" /><!-- これでVisualStudioの出力ウィンドウに出ることを期待してるのだけど出ない -->
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logDev" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>